@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
}