@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url("imagens/fundo-madeira.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#RedesSociais{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2em;
    margin-right: 2em;
}
section#RedesSociais img{
    display: block;
    width: 50px;
    margin-bottom: 1em;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
section#RedesSociais img:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: transform 0.3s, border .6s;
}