@charset "UTF-8";

@media screen and (min-width: 768px){
    #menu{
        display: none;
    }
    #lista{
        display: block;
    }
    #lista li{
        display: inline-block;
        text-align: left;
        list-style-type: none;
    }
}