@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* Configuracoes universais */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* Cabecalho */

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}
h1 > span{
    font-family: 'Black Han Sans';
    font-size: 8dvw;
}
h1{
    font-size: 5dvw;
    font-family: 'Black Han Sans';
}
header p{
    font-size: 1.2em;
}
a{
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
/* Configurar os backgrounds */

div.fundo-imagem{
    padding: 20px 0px 20px 20px;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    box-shadow: 0px 2px 30px black inset;
}
div.fundo-imagem#fundo1{
    background-image: url("imagens/background001.jpg");
}
div.fundo-imagem#fundo2{
    background-image: url("imagens/background002.jpg");
}

/* Configurar Textos */

main p{
    font-size: 3.5dvw;
    margin: 50px 0 80px 20px;
    font-family: 'Sriracha';
}
p.fundo-texto{
    display: inline-block;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

/* Configurando o rodape */
footer{
    background-color: black;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 15px 5px 5px;
}