@charset "UTF-8";

/* Versao Mobile First */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: black;
    background-image: url("../imagens/back-phone.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
main{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: auto;
    border-radius: 0.4em;
    padding: .5em;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 0.8em;
}
img{
    display: block;
    margin: auto;
}
#tablet, #print, #pc, #tv{
    display: none;
}