@charset "UTF-8";

@media screen and (min-width: 718px){
    main{
        width: 620px;
        height: 280px;
    }
    section{
        display: inline-block;
    }
    .imagem{
        width: 30%;
        height: 100%;
    }
    .formulario{
        width: 69%;
        height: 100%;
        padding: 0;
        position: relative;
        bottom: 20%;
    }
    .cadastro p{
        height: 2.5em;
    }
    .botoes input, .botoes button{
        height: 2.8em;
    }
}