@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100svw;
    height: 100svh;
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2em;
}
nav img{
    width: 80px;
    border-radius: 100%;
}
iframe{
    display: block;
    width: 420px;
    height: 720px;
}