@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{ /* Mudar estilo da barra de rolagem */
    width: 0;
    height: 0;
}
img{
    display: block;
    width: 100vw;
}
a{
    display: block;
    padding: 2em;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: darkred;
    transition: background-color 1s;
}
a:hover{
    background-color: rgb(189, 16, 16);
}